## Se på lemmatiseringen av DN

### Oppstart

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
_,_,files = next(os.walk("morfologi_mai/"))

In [5]:
files

['dn-analyser.bin', 'dn-lemma-form.csv', 'dn-raw.csv', 'dn-unknown-forms.csv']

## Lemmaene ligger i mapper 

* morfologi_desember
* morfologi_mai

In [15]:
lemmas = pd.read_csv('morfologi_desember/dn-raw.csv')

## Funksjoner for å se på data

In [41]:
def find_lemma_occurrences(df = lemmas, lemma = "aqua"):
    return df[df.LEMMA == lemma]

def find_form_occurences(df = lemmas, form = "aqua"):
    return df[df.FORM == form]

def find_forms_of_lemma(df = lemmas, lemma = "aqua"):
    return set(list(df.FORM[df.LEMMA == lemma]))

## I en pandastruktur

In [39]:
lemmas.head()

   ID         FORM                     LEMMA
0   0      Omnibus                     omnis
1   1      presens            presens/presum
2   2     scriptum  scribō/scriptum/scriptus
3   3  cernentibus                     cernō
4   4     Haquinus                       NaN

In [42]:
find_lemma_occurrences(lemma='salus').head()

        ID     FORM  LEMMA
2091  2091  salutis  salus
4402  4402    salus  salus
4553  4553   saluti  salus
4909  4909   salute  salus
6365  6365   salute  salus

In [47]:
find_form_occurences().head()

            ID  FORM       LEMMA
12538    12538  aqua  aqua/aquor
14112    14112  aqua  aqua/aquor
121858  121858  aqua  aqua/aquor
213699  213699  aqua  aqua/aquor
213819  213819  aqua  aqua/aquor

In [46]:
find_forms_of_lemma()

{'Aquarum', 'Aquis', 'aquam', 'aquarum', 'aque', 'aquis', 'aqvam'}